@CHARSET "UTF-8";
.win_layer .rj45{
	background-position:-50px -200px!important;
	font: 9px/20px Coda!important;
}

.win_layer .rj45-mac{
	background-position:-100px -200px!important;
	font: 9px/20px Coda!important;
}

.win_layer .IEC_C13{
	background-position:-175px -200px!important;
	font: 9px/40px Coda!important;
}

.win_layer .IEC_C19{
	background-position:-150px -200px!important;
	font: 9px/40px Coda!important;
}

.win_layer .IEC_60309{
	background-position:-200px -200px!important;
	font: 8px/40px Coda!important;
	text-align:right!important;
	
}

.win_layer .fiberlc{
	background-position:-75px -200px!important;
	font: 9px/15px Coda!important;
}	

.win_layer .fiberlc-mac{
	background-position:-125px -200px!important;
	font: 9px/15px Coda!important;
}	

.win_layer .vga{
	background-position:0px -250px!important;
	font: 9px/40px Coda!important;
	width:50px!important;
}	

.win_layer .dvi{
	background-position:-50px -250px!important;
	font: 9px/40px Coda!important;
	width:50px!important;
}	
.win_layer .hdmi{
	background-position:-100px -250px!important;
	font: 9px/40px Coda!important;
	width:50px!important;
}


.grid .ru{
	height:14px;
	background:red;
	width:25px;
	opacity:0;	
}

.win_iptable .size_medium2{
	font-size:12px!important;
	
}

.pduclone{
	position:absoute;
width:14px;
left:50px;
top:50px;
z-index:23;
}
.power_mask{
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	z-index:21;
	background:blue;
	opacity:0;
}
.rack_power{
	
	z-index:22;
	display:none;
	position:absolute;
	width:26px;
	height:100%;
	background:url(/assets/img/bg.png) #444;
top:18px;
}
.pdu .pb{
bottom:-10px;	
}
.pdu .pu{
top:-10px;	
}
.rack .grid{
top:18px;
position:absolute;
width:25px;
z-index:25;

}

.pdu .p_handler{
	position:absolute;
	width:100%;
	height:100%;
	
}

.pdu .screw{
left:-1px;
position:absolute;
width:16px;
height:10px;
background:url(/assets/img/icons.png) no-repeat;
background-position:-105px -150px;

}

.pdu .screw:hover{
background-position:-105px -165px!important;	
	
}

.power_right{

	right:0px;
		}
	
.power_left{

}

.rack .pdu{
	cursor:pointer;
	position:absolute;
	width:14px;
	border:1px solid #888;
	height:160px;
	margin:0px 5px 5px 5px;
	background:url(../img/pdu.png) #444;
}
.rack_power .add{
	cursor:pointer;
	background:url(/assets/img/icons.png);
	margin:10px 5px 0px 5px;
	width:15px;
	height:15px;
	background-position:-130px -154px;
}
.rack_power .add:hover{
	background-position:-155px -154px!important;
	
}
